@charset "utf-8";

body,p,h1,h2,h3,h4,h5,h6,menu,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select,hr{margin:0;padding:0;}
body,input,textarea,select,button {font-family:Tahoma, '����',Gulim, verdana;font-size:9pt;line-height:16px; vertical-align: middle;}
textarea {border:1px solid #FFFFFF; resize: none;}
input, select, textarea {outline-style: none;}
img,fieldset{border:0} 
menu,ul,ol{list-style:none}

table {border-collapse:collapse; border-spacing: 0; table-layout: fixed;}

A:link {color: #505661; text-decoration: none}
A:visited {color: #505661; text-decoration: none}
A:hover {color: #0060ff; text-decoration: none}

/* 기능단위별 공통속성 정의 */
.center {text-align: center !important;}
.thCenter {text-align: center !important; text-indent:0px !important; }
.marginAuto { margin:0 auto;}
.left {text-align: left !important;}
.left12 {text-align: left; padding-left: 12px;}
.left24 {text-align: left; padding-left: 24px;}
.paddingSide5px {padding-left: 5px; padding-right: 5px; }
.right {text-align: right !important;}
.right5{text-align: right !important; padding-right: 5px;}
.pointer {cursor: pointer;}
.pointerEffect {cursor: pointer; color: #0060ff}
.top {vertical-align: top;}
.bottom {vertical-align: bottom;}
.middle {vertical-align: middle;}
.imgTop {margin-top: 0px;}
.poldingIcon, .poldingIcon2, .poldingIcon3, .poldingIcon4 {cursor: pointer;}
.hidden, .hide {display: none;}
.show {display: show;}
.hand { cursor:pointer}
.cursorDefault {cursor:default;}
.cursorNotallow {cursor: not-allowed;}
.clear {clear:both; font-size: 0; line-height: 0; padding: 0; margin: 0}
.readonly {background: #EBEBE4}
.break-all {word-break:break-all}
.link {cursor:pointer; color: #0060ff;}
.objectAddress {cursor:pointer; color: #0060ff}
.objectAddressNone {cursor:default; color: #000}
.objectAddress:hover {}
.warning { color: #ffe4e2; }
.critical { color: red; }
.warningTr { background-color: #ffe4e2; }
.criticalTr { background-color: #ffb7cd; }
.relative {position: relative;}
.notSelect {-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
.highlight {background-color: #FFFF88;}
.disable { background-color: #EBEBE4;}
.tooltip_desc {cursor: pointer;}
.noBorder { border-bottom: 0px !important; border-left: 0px !important; border-right: 0px !important; border-top: 0px !important; }
.borderRight  { border-right: 1px solid #babcc1; }

#helpTable {width: 98%; margin: 0 auto; border: 2px solid #283b59; border-left:0; border-right:0; margin: 10px; min-width: 400px; font-size: 12px; line-height: 18px;}
#helpTable TBODY TR:nth-child(even) {background-color: #f2f2f3}
#helpTable TBODY TH, #helpTable TBODY TD {padding: 5px 12px 5px 12px; border-bottom: 1px solid #cdcfd1;}
#helpTable TBODY TH {width: 150px; text-align: left; color: #707b8c; font-weight: bold;}
#helpTable TBODY TD {color: #333333;}
